/*---FONT---*/
@font-face { font-family: 'Fontello'; 
			 src: url('#{request.contextPath}/resources/font/fontello.eot#') format('eot'), 
			      url('#{request.contextPath}/resources/font/fontello.woff') format('woff'), 
			      url('#{request.contextPath}/resources/font/fontello.ttf') format('truetype'), 
			      url('#{request.contextPath}/resources/font/fontello.svg#fontello') format('svg'); 
			}

/* ALLGEMEINE Regel */
html,body {
	height: 100%;
	max-width: 100%;
	margin: 0px;
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 14px;
	color: #001B45;
	background-color: #F8F8F8;
	margin: 0;
	white-space: nowrap;
	}

/*----------------------------------------------------------------------------------------*/

/* DIV Layer */
	 
#menue {
	background-color: #00368A;
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: 0px 5px 2px #001b45;
	margin-top: -15px;
}

#wrapper {
	width: 100%;
	min-height: 92%;
	height: auto !important;
	height: 92%;
	margin-top: -10px; 
}

#submenue {
	top: 30px;
	width: 20%;
	height: 100%;
	border-right: 1px solid #001b45;
	float: left;
	display: table;
	}
	
#content {
	left: 20%;
	width: 77%;
	height: 100px;
	padding-left: 1%;
	display: table;
}	


#footer {
	position: absolute;
	width: 100%;
	background-color: #00368A; 
	height: 33px;
}

#logindiv {
	position: absolute;
	width: 350px;
	height: 250px;
	top: 45%;
	left: 50%;
	margin-top: -125px;
	margin-left: -175px;
}

#startdiv {
	position: absolute;
	height: 50%;
	width: 50%;
	top: 50%;
	left: 50%;
	margin-top: -17%;
	margin-left: -26%;
}

/*----------------------------------------------------------------------------------------*/

/*FORM Regel */

fieldset {
	margin: 20px;
	width: auto;
	border: 1px solid #001B45;
	border-radius: 5px;
	padding: 20px;
	text-decoration: none;
}

legend {
	background-color: #00368A;
	border: 1px solid #001B45;
	border-radius: 5px;
	padding: 10px;
	color: #F8F8F8;
	letter-spacing: 5px;
	
}

.i_text {
	font-size: 95%;
	border-radius:5px;
	border-width: 1px;
	border-color: #001b45;
	background-color: #F8F8F8;
}

.i_submit_button {
	color: #F8F8F8;
	font-size: 95%;
	border-radius:5px;
	border-width: 1px;
	border-color: #001b45;
	background-color: #00368A;
	cursor: pointer;
}

.i_submit_button:HOVER {
	background-color: #156EFA;
	box-shadow: 0 8px 8px -6px #9AC0FC inset;
	
}

.i_submit_button_popup {
	color: #F8F8F8;
	font-size: 95%;
	border-radius:5px;
	border-width: 1px;
	border-color: #001b45;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #45669B;
	cursor: pointer;
}

.i_submit_button_popup:HOVER {
	box-shadow: 0 8px 8px -6px #fcfcfc inset;
	
}

/*----------------------------------------------------------------------------------------*/

/*HYPERLINK Regel*/

a.menue {
	display: block;
	color: #F8F8F8;
	margin-right: 20px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none;
	border-right: 1px solid #F8F8F8;
	border-left: 1px solid #F8F8F8;
}

a.menue:HOVER {
	background-color: #156EFA;
	box-shadow: 0 12px 12px -6px #9AC0FC inset;
}

/*----------------------------------------------------------------------------------------*/

/*TEXT Regel */

h1 {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 20px;
	color: #001B45;
	font-style: none;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
}

h2 {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 17px !important; 
	color: #001B45;
	font-style: none;
	font-weight: bold;
}

h3 {
	
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 12px; 
	color: #001B45;
	font-style: none;
	font-weight: normal;
}

h4 {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 14px;
	color: #F8F8F8;
	font-style: none;
	font-weight: bold;
	display: inline;
}

h5 {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 12px;
	color: #F8F8F8;
	font-style: none;
	font-weight: bold;
	display: inline; 
	padding-right: 20px;
}

h6 {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 12px;
	color: #F8F8F8;
	font-style: none;
	font-weight:normal	;
	display: inline; 
	padding-right: 20px;
}

h7 {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 14px;
	color: #001B45;
	font-style: none;
	font-weight: bold;
	display: block;
}

hr {
	border: none;
	border-top: 1px solid #001B45;
	margin: 0px 0px 10px 0px;
	width: 100%;
	min-width: 50%;
	color: #001B45;
}

hr.flow {
	border: none;
	border-top: 1px solid #001B45;
	margin: 0px 0px 10px 0px;
	width: 70%;
	min-width: 50%;
	color: #001B45;
}

.flowing_text {
	display: block;
	margin-bottom: 1%;
	margin-top: 1%;
	text-align: left;
	white-space: pre-wrap; 
	width: 70%;
}
/*----------------------------------------------------------------------------------------*/

/*MESSAGES Regel */

.error {
	display: inline-block;
	color: #156EFA; 
	text-decoration: underline; 
	font-weight: bold;
	margin-left: 0px;
	
}

.message{
	filter: unset;
	-webkit-filter: blur(0);
	-moz-filter: unset;
	-ms-filter: unset;	
	-o-filter: unset; 
}

i.icon-user{
	font-family: 'Fontello';
	font-style: normal;
	color: #F8F8F8;
}

/* PRIMEFACES */

.ui-draggable .ui-dialog-titlebar {
	border-bottom: 1px #001B45 solid !important;
}

.ui-dialog .ui-dialog-titlebar{
	padding: 0px 5px 0px 5px !important;
	background-color: #45669B;
	color: #F8F8F8;
	font-weight: bold;
	font-size: 17px;
}

.ui-growl-item {
	background-color: #F8F8F8;
	border: 1px #001B45 solid;
}

span.ui-growl-image:before{
	font-family: 'Fontello' !important;
	font-size: 30px;
	content: '\e808';
	background: none;
}

span.ui-growl-image-info{
	background: none;
}

.ui-shadow {
    box-shadow: 0px 0px 500px #45669B !important;
}
/*POP-UP*/

.pop_up {
	background-color: #F8F8F8;
	min-height: 400px;
	min-width: 400px;
	border: 1px #001B45 solid;
	overflow: scroll;
}
.pop_up2 {
	background-color: #F8F8F8;
	min-height: 200px;
	min-width: 200px;
	border: 1px #001B45 solid;
}

.label {
	display: block;
	margin-top: 1%;
	min-width: 400px;
	font-weight: bold;
	font-size: 16px;
}