
html,body {
	height: 100%;
	margin: 0px;
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 14px;
	color: #001B45;
	}

@fontface {
	font-family: 'HelveticaNeue';
	src: url('"showcase-web/src/main/webapp/resources/fonts/HelveticaNeue.dfont");
}
	
h1 {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #001B45;
}

h2 {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #001B45;
}	
	
a.menu {
	text-decoration: none;
	color: #f8f8f8;
}

.background {
	 background-color: #F8F8F8	;
	 margin: 0;
	 }
	 
.menue {
	background-color: #00368A;
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: 0px 5px 2px #001b45;
	layout: block;
}

.submenue {
	background-color: none;
	height: 100%;
	width: 20%;
	border-right: 2px;
	border-right-style: solid;
	border-color: #001b45;
	float: left;
	margin-right: 20px;
}

fieldset {
	margin: 20px;
	width: 250px;
	border: 1px solid #001B45;
	border-radius: 5px;
	padding: 20px;
	text-decoration: none; 
}

legend {
	background-color: #00368A;
	border: 1px solid #001B45;
	border-radius: 5px;
	padding: 10px;
	color: #F8F8F8
	
}


