ui {
	display: table;
	width: 100%;		
}

li {
	display: inline-block;
	margin-left: -18px;
}

li.logo {
	width: 20%;
	padding-left: 0px;
}

li.module {
	width: 53%;
}

li.benutzer {
	width: 12%;
	display:inline;
	
}
li.suche {
	width: 15%;
	display: inline;
	padding: 0;
}