ui {
	display: table;
	width: 100%;		
}

li {
	display: table-cell;
	float: left;
	line-height: 30px;
}

li.logo {
	width: 20%;
	margin-left: -20px;
}

li.module {
	width: auto;
	margin-left: -12px;
}

li.benutzer {
	width: 30%;
	float: right;	
}