/* Submenue */

a {
	color: #F8F8F8;
	text-decoration: none;
	height: 2em;
}

#link{
	display: block;
	background-color: #45669B; 
	width: 98%;
	height: 2em;
	line-height: 2em;
	padding-left: 2%;
	margin-bottom: 1%;
}

.text{
	display: inline;
	color: #F8F8F8;
	text-align: left;
}

#link:Hover {
	background-color: #156EFA;
}

