/* Submenue */

a {
	color: #F8F8F8;
	text-decoration: none;
	height: 2em;
}

#link{
	display: block;
	background-color: #45669B; 
	width: 19.5em;
	height: 2em;
	line-height: 2em;
	padding-left: 1em;
	margin-bottom: 0.1em;
}

.text{
	display: inline;
	color: #F8F8F8;
	text-align: left;
}
.icon{
	display: inline;
	color: #F8F8F8;
	float: right;
	padding-right: 1em;
}


#link:Hover {
	background-color: #156EFA;
}

